footer {
    background-image: url(../image/fond4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    padding: 2rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.footer_logo {
    text-align: center;
}

.footer_logo img {
    width: 114px;
    height: 116.96104431152344;
    top: 6276px;
    left: 140px;
    opacity: 1;
}

.footer_logo p {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.footer_icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer_icons img {
    width: 42px;
    height: 37px;
}

.footer_section {
    text-align: center;
}

.footer_section h3 {
    color: #E9BD8C;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;

}

.footer_section p {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.footer_section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_section li {
     margin-bottom: 0.4rem;
}

.footer_section a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.footer_actualite {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
}

.footer_actualite img {
    object-fit: cover;
    width: 100;
    height: 67;
    top: 7133px;
    left: 42px;
    opacity: 1;
    border-radius: 2px;
}

.actualite_date {
    font-size: 0.75rem;
    opacity: 0.8;
    margin-bottom: 0.2rem;
    color: #E9BD8C;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.actualite_titre {
    font-weight: 600;
    font-size: 0.9rem;
}


.footer_legal {
    font-size: 0.75rem;
    opacity: 0.7;
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 1rem;
}

/* version tablette / desktop */
/* @media (min-width: 768px) {
  footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }

  .footer_logo, .footer_section {
    flex: 1;
  }

  .footer_legal {
    grid-column: 1 / -1;
    text-align: center;
  }
} */