footer
{
    background-image: url(../image/fond4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.suivre-pied
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.suivre-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suivre-pied p
{
    color: #E9BD8C;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.suivre-pied img
{
    max-height: 115px;
    max-width: 115px;
}

#logo-pied
{
    align-self: center;
}

.suivre-pied ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    margin: 10px;
    padding: 0;
}

hr 
{
    align-self: center;
    height: 2px;
    background-color: #E9BD8C;
    border: none;
    opacity: 20%;
    width: 100%;
    margin-left: 10%;
    margin: 0 auto;
}

.info-contenu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    gap: 24px;
    width: 100%;
}

.info-contenu > div
{
    flex: 1 1 333px;
    min-width: 0;
}
.info-pied h3
{
    color: #E9BD8C;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.apropos p,
.explorer p
{
    text-align: left;
    color: white;
    margin-left: clamp(42px, 5vw, 81px);
    font-weight: 500;
    font-size: 24px;
}

.actu-pied img
{
    width: 100px;
    height: 67px;
    margin-left: 50px;
}

.actu-pied h5
{
    text-align: left;
    color: #E9BD8C;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.info1 p,
.info2 p
{
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    max-height: 67px;
    margin: 0;
}

.actu1,
.actu2
{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 18px;
}

.info1,
.info2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy p
{
    color: #737373;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 30px;
}

.info-pied p:hover
{
    color: #E9BD8C;
    transition: 0.2s;
    transform: scale(1.05);
}

.suivre-pied img:hover
{
    transition: 0.2s;
    transform: scale(1.10);
}

@media screen and (min-width: 1024px) {
        
    .suivre-pied
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 45px;
        margin-right: 45px;
    }

    .suivre-box
    {
        flex-direction: row;
        align-items: center;
        gap:10px;
    }
}