.div-reduction
{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(../image/fond2.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 60%;
    margin-bottom: 10px;
    margin-top: 7%;
}

.div-reduction h3
{
    padding-top: 1%;
    text-align: center;
    font-family: Sansita Swashed;
    color: #933C24;
    font-size: clamp(24px, 7vw, 36px);
}

.div-reduction p
{
    padding-top: 1%;
    font-weight: 400;
    color: #5D5D5D;
    text-align: center;
    font-size: clamp(16px, 5vw, 24px);
    padding-bottom: 6%;
}

.div-reduction button
{
    display: block;
    margin: auto;
    align-items: center;
    background-color: #933C24;
    color: #ffff;
    padding: 23px 35px ;
    font-size: clamp(16px, 5vw, 24px);
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: transparent;
    margin-bottom: 3%;
}

.top button:hover
{

    transform: scale(1.1);
    border-color: white;
    background-color: black;
    color: #E9BD8C;
}